.cell {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4281a4;
  cursor: pointer;
}

.mainArea {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}

#playerBoard {
  position: relative;
  pointer-events: none;
}

#newBoardBtn {
  position: absolute;
  margin-top: 5rem;
}

.gameBoards {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    '. frameX'
    'frameY board';
  column-gap: 3px;
  row-gap: 3px;
}

.board {
  grid-area: board;
}

.board > * {
  display: grid;
  grid-template-columns: repeat(10, 30px);
}

.frameX {
  grid-area: frameX;
  display: grid;
  grid-template-columns: repeat(10, 30px);
  justify-items: center;
}

.frameY {
  grid-area: frameY;
  display: grid;
  grid-template-rows: repeat(10, 30px);
  align-items: center;
}

.notSunk {
  background-color: rgb(65, 179, 65);
}

.sunk {
  background-color: #ee2c29;
}

.ships {
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-left: 15px;
  width: 300px;
  height: 50px;
}

.ships > * {
  border: 1px solid black;
}

.ships [id='1'] {
  width: 15px;
  height: 15px;
}

.ships [id='2'] {
  width: 30px;
  height: 15px;
}

.ships [id='3'] {
  width: 45px;
  height: 15px;
}
.ships [id='4'] {
  width: 60px;
  height: 15px;
}
.ships [id='5'] {
  width: 75px;
  height: 15px;
}

.shipCell {
  color: transparent;
}

.X {
  pointer-events: none;
  color: white;
  font-size: 1.3rem;
}

.hitCell {
  background-color: #ee2c29;
  pointer-events: none;
  color: transparent;
}

.playerCell1,
.playerCell2,
.playerCell3,
.playerCell4,
.playerCell5 {
  color: transparent;
}

.playerCell1 {
  background-color: #e8c547;
}
.playerCell2 {
  background-color: #434371;
}
.playerCell3 {
  background-color: #52b788;
}
.playerCell4 {
  background-color: #cf5f4e;
}
.playerCell5 {
  background-color: #2b303a;
}
